<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/atlas.css" rel="stylesheet" />
    <link href="~/css/bars.css" rel="stylesheet" />
    <link href="~/css/clndr.css" rel="stylesheet" />
    <link href="~/css/fabochart.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/icon-font.min.css" rel="stylesheet" />
    <link href="~/css/jqvmap.css" rel="stylesheet" />
    <link href="~/css/popuo-box.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/vroom.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/layer/layer.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/layui/lay/modules/laypage.js"></script>
    <script src="~/js/vue-2.5.2.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/vue-resource.min.js"></script>
    <script src="~/js/amcharts.js"></script>
    <script src="~/js/arbor.js"></script>
    @*<script src="~/js/atlas.js"></script>*@
    <script src="~/js/barChart.jquery.js"></script>
    <script src="~/js/bootstrap-markdown.js"></script>
    <script src="~/js/cbpFWTabs.js"></script>
    @*<script src="~/js/Chart-pie.js"></script>
        <script src="~/js/Chart.js"></script>*@
    @*<script src="~/js/clndr.js"></script>*@
    <script src="~/js/CSSPlugin.min.js"></script>
    <script src="~/js/css3clock.js"></script>
    <script src="~/js/datamaps-all.js"></script>
    <script src="~/js/dygraph-combined.js"></script>
    <script src="~/js/fabochart.js"></script>
    <script src="~/js/jquery.chocolat.js"></script>
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/jquery.vmap.js"></script>
    <script src="~/js/jquery.vmap.sampledata.js"></script>
    <script src="~/js/jquery.vmap.world.js"></script>
    <script src="~/js/light.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/modernizr.custom.04022.js"></script>
    @*<script src="~/js/moment-2.2.1.js"></script>*@
    <script src="~/js/protovis-d3.2.js"></script>
    <script src="~/js/radar.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/js/serial.js"></script>
    <script src="~/js/scripts.js"></script>
    @*<script src="~/js/site.js"></script>*@
    <script src="~/js/skycons.js"></script>
    <script src="~/js/TweenLite.min.js"></script>
    <script src="~/js/underscore-min.js"></script>
    <script src="~/js/vix.js"></script>
    <script src="~/js/ydy-customPage.js"></script>
    @*<script src="~/js/vroom.js"></script>*@
    @RenderSection("CustomJs", required: false)
    @RenderSection("CustomCss", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
